nav a img {
    border-style: outset;
    border-color: var(--color-link);
    border-width: 0px;
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);*/
}

.post-title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-text);
}



blockquote,
blockquote p {
    display: block;
    font-size: medium;
    line-height: var(--line-height);
    text-align: var(--justify-normal);
    border-right: none;
    border-left: 0.25rem solid var(--color-accent);
    padding: 0 0 0 1rem;
    margin-left: 0;
    max-width: 100%;
}

blockquote p {
    border-left: none;
}

blockquote footer {
    color: var(--color-text);
    display: block;
    font-size: small;
    line-height: var(--line-height);
    padding: 1.5rem 0;
}

a {
    text-decoration: none;
    word-break: break-word;
}

* {
    scrollbar-width: auto;
}

nav {
    margin-bottom: 1rem;
}

p img {
    max-width: 200px;
    max-height: 300px;
    width: 60%;
    height: auto;
}

pre,
pre code,
pre samp {
    max-width: 100%;
}

table td[align],
table th[align] {
    text-align: left !important;
}

table td[align="center"],
table th[align="center"] {
    text-align: center !important;
}

table td[align="right"],
table th[align="right"] {
    text-align: right !important;
}
